@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Variable";
  src: local("Satoshi-Variable"), url(./assets/fonts/Satoshi-Variable.ttf) format('opentype');
}

@font-face {
  font-family: "Satoshi-VariableItalic";
  src: local("Satoshi-VariableItalic"), url(./assets/fonts/Satoshi-VariableItalic.ttf) format('opentype');
}

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
 
}

body{
  -moz-osx-font-smoothing: grayscale;
}